@import "../../../theme.scss";

:host {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 90%;
}

.register-form {
  width: 600px;

}
input{
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1)) /* #4b5563 */;
}
label{
  font-size:1.2rem;
  margin-bottom: 0.3rem;
}

h2{
  font-size: 2rem;
}

